<div class="row">
    <div class="col-md-12">
        <img [src]="url" [alt]="url">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <app-boton (onClick)="anterior()" color="btn-secondary" mensaje="Anterior"></app-boton>
    </div>
    <div class="col-md-6">
        <app-boton (onClick)="siguiente()" color="btn-success" mensaje="siguiente"></app-boton>
    </div>
</div>